<div class="page">

    <app-bar
    [img]="me?.getPhoto()"
    [onImageClick]="goToProfile"
    title="Chats"
    [hasImage]="true"
    trailingIcon="post_add"
    [onTrailingIconClick]="goToNewChat"
    ></app-bar>


    <main class="">

        <div *ngIf="showLoader" class="loader"></div>
        <ul *ngIf="!showLoader" class="chat-list">

<!--            <li *ngFor="let msg of messages; let i = index;" class="chat-message" [routerLink]="'./'+i">-->
<!--                <img class="profile-img" [src]="msg.photoURL" />-->

<!--                <div style="display:flex;flex-direction:column;">-->
<!--                    <span class="sender-name">{{msg.senderName}}</span>-->
<!--                    <span class="message-line">{{msg.message}}</span>-->
<!--                </div>-->


<!--                <div class="info">-->
<!--                    <span>{{msg.day}}</span>-->
<!--                </div>-->

<!--            </li>-->

            <li *ngFor="let chat of chats; let i = index;" class="chat-message" [routerLink]="chat._id">
                <img class="profile-img" [src]="chat.photoUrl" />

                <div style="display:flex;flex-direction:column;">
                    <span class="sender-name">{{chat.displayName}}</span>
                    <span class="message-line" [innerHTML]="chat?.more?.lastMsg?.value | linkify"></span>
                </div>


                <div class="info">
                    <span>{{chat?.more?.lastMsg?.timestamp | date: 'E'}} </span>
                </div>

            </li>


        </ul>

        <div *ngIf="!showLoader" style="padding:2rem 0;width: 100%; font-size: 1rem; color:#8A8A8B; text-align: center">No more chats</div>

    </main>

    <bottom-nav-menu></bottom-nav-menu>

</div>
