<div class="page">
    <app-bar
        [title]="chat?.displayName"
        leadingIcon="arrow_back"
        [hasImage]="false">
    </app-bar>

    <img *ngIf="chat" class="profile-img"
         [src]="chat?.photoUrl"/>
    <main class="">


        <span id="files"> FILES </span>

        <ul>
            <li (click)="goToBrowseImages()" >
                <i  class="material-icons-round">photo_library</i>
                <span> Browse Images</span>
            </li>
            <li (click)="goToBrowseDocuments()">
                <i class="material-icons-round">description</i>
                <span>Browse Documents</span>
            </li>
        </ul>


        <span style="margin-top: 1rem">{{userMembers?.length}} MEMBERS</span>

        <ul>
            <li *ngFor="let item of userMembers" class="member-item">
                <div style="display: flex;align-items: center">
                    <img class="profile-img" style="flex: 0 0 auto" [src]="item.getPhoto()">
                    <span style="flex: 1 1 100%">{{item.getFullName()}}</span>
                </div>
            </li>
        </ul>

        <span id="manage"> MANAGE </span>

        <ul>
<!--            <li>-->
<!--                <i class="material-icons-round">group</i>-->
<!--                <span>All Members</span>-->
<!--            </li>-->
            <li>
                <i class="material-icons-round">exit_to_app</i>
                <span>Leave Group</span>
            </li>
        </ul>

    </main>
</div>
