<div class="page">
    <app-bar
        title="Project Team"
        leadingIcon="arrow_back"
        [hasImage]="false">
    </app-bar>

    <img class="profile-img"
         src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">

    <main class="">


        <span id="files"> FILES </span>

        <ul>
            <li (click)="goToBrowseImages()" >
                <i  class="material-icons-round">photo_library</i>
                <span> Browse Images</span>
            </li>
            <li (click)="goToBrowseDocuments()">
                <i class="material-icons-round">description</i>
                <span>Browse Documents</span>
            </li>
        </ul>

        <span id="manage"> MANAGE </span>

        <ul>
            <li>
                <i class="material-icons-round">group</i>
                <span>All Members</span>
            </li>
            <li>
                <i class="material-icons-round">exit_to_app</i>
                <span>Leave Group</span>
            </li>
        </ul>

    </main>
</div>
