i{
    font-size: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8rem;
}
span{
    font-size: 38px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
}
