<div class="page">
    <app-bar
        leadingIcon="arrow_back"
        title="New Chat"
    >
    </app-bar>

    <main>
        <div *ngIf="!isFinalPageVisible" class="input-container">
            <i *ngIf="searchStr === ''" class="material-icons-round">search</i>
            <i *ngIf="searchStr !== ''" class="material-icons-round" (click)="clearResults()">close</i>
            <input type="text" placeholder="Search Contacts" [(ngModel)]="searchStr"
                   (ngModelChange)="filterSearchResults($event)">
        </div>


        <div id="group-chat" *ngIf="!toCreateGroupChat && !isFinalPageVisible" (click)="toCreateGroupChat = true">
            <i class="material-icons-round">groups</i>
            <span>Create a new group</span>
        </div>


        <span *ngIf="!isFinalPageVisible" class="list-title" style="margin-top: 1rem">Contacts</span>

        <ul *ngIf="!isFinalPageVisible && allUsers.length === 0">
            <li class="loading-phase" *ngFor="let item of numbers">
                <div class="img-loading"></div>
                <div class="text-loading"></div>
            </li>
        </ul>

        <ul *ngIf="!isFinalPageVisible && allUsers.length > 0">
            <li *ngFor="let item of usersToShow" (click)="markAsSelected(item.user._id)">
                <div style="display: flex;align-items: center">
                    <img class="profile-img" style="flex: 0 0 auto" [src]="item.user.getPhoto()">
                    <span style="flex: 1 1 100%">{{item.user.getFullName()}}</span>
                </div>
                <div class="is-checked" style="display: flex;align-items: center"
                     [ngClass]="{'visible':toCreateGroupChat}">
                    <span *ngIf="item.isSelected" class="material-icons-round">check_circle</span>
                    <span *ngIf="!item.isSelected" class="material-icons">radio_button_unchecked</span>
                </div>

            </li>
        </ul>


        <div *ngIf="isFinalPageVisible" class="upload-image"
             style="width: 100%; display: flex; justify-content: center;margin-bottom: 2rem">
            <label *ngIf="!previewPhotoSrc">
                <input type="file" accept="image/png, image/jpeg" id="file"
                       (change)="handleImageInput($event.target.files[0])">

                <span
                    style="width: 100px;height: 100px;border-radius: 50%; background: #333;display: flex;justify-content: center;align-items: center">
                    <span class="material-icons-round" style="font-size: 3rem">add_photo_alternate</span>
                </span>
            </label>
            <img *ngIf="previewPhotoSrc"
                 style="object-fit:cover;width: 100px;height: 100px;border-radius: 50%; background: #333"
                 [src]="previewPhotoSrc"/>
        </div>

        <div *ngIf="isFinalPageVisible" class="input-container">
            <input type="text" [(ngModel)]="groupName" style="text-indent: 1rem;padding: .5rem 0; font-size: 1rem; border-radius: .2rem"
                   placeholder="Group name (required)">
        </div>

        <span *ngIf="isFinalPageVisible" class="list-title" style="margin-top: 1rem">{{usersSelected}} members</span>

        <ul *ngIf="isFinalPageVisible">
            <li *ngFor="let item of getSelectedUsers()">
                <div style="display: flex;align-items: center">
                    <img class="profile-img" style="flex: 0 0 auto" [src]="item.user.getPhoto()">
                    <span style="flex: 1 1 100%">{{item.user.getFullName()}}</span>
                </div>
            </li>
        </ul>
    </main>

    <div *ngIf="toCreateGroupChat" class="main-button-container">
        <button *ngIf="!isFinalPageVisible" class="main-button" (click)="showFinalPage()"
                [disabled]="usersSelected ===0 ">{{usersSelected > 0 ? 'Next' : 'Select users'}}</button>
        <button *ngIf="isFinalPageVisible" class="main-button" (click)="createGroupChat()"
                [disabled]="!groupName || !previewPhotoSrc">{{groupName && previewPhotoSrc ? 'Create' : 'Fill Info'}}</button>
    </div>


</div>
