main {
    .input-container {
        border-radius: 23px;
        background: #333333;
        display: flex;
        width: calc(100% - 2rem);
        margin-right: 1rem;
        margin-left: 1rem;

        i {
            font-size: 24px;
            padding: .5rem;
            color: #8A8A8B;
        }

        input {
            font-size: 23px;
            border: none;
            background: transparent;
        }


    }
    #group-chat{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
        i{
            font-size: 50px;
        }
        span{
            font-size: 18px;
        }
    }

}
