<div class="page">
    <app-bar
        leadingIcon="arrow_back"
        title="New Chat"
    >
    </app-bar>

    <main>

        <span>Recent Searches</span>
        <ul>
        </ul>

        <span>Online</span>

        <ul>
            <li>
                <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                <span>Emma Bailey</span>
            </li>
            <li>
                <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                <span>Emma Bailey</span>
            </li>
            <li>
                <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                <span>Emma Bailey</span>
            </li>
            <li>
                <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                <span>Emma Bailey</span>
            </li>
            <li>
                <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                <span>Emma Bailey</span>
            </li>
            <li>
                <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                <span>Emma Bailey</span>
            </li>
        </ul>
    </main>


</div>
