<div class="page" style="overflow: scroll">

    <div class="video-collection-container">


        <div class="big-tile">
            <video src="../../../../assets/test.mp4" loop autoplay></video>

            <div class="video-info">
                Emma Bailey

                <i class="material-icons-round" style="margin-left: .5rem;margin-right: .5rem">graphic_eq</i>
            </div>
        </div>
        <div class="small-tile">
            <video src="../../../../assets/test.mp4" autoplay></video>
        </div>

        <div class="small-tile">
            <video src="../../../../assets/test.mp4" autoplay></video>
        </div>



    </div>

    <div class="video-control">

        <div class="control-button">
            <i class="material-icons-round">videocam</i>
        </div>
        <div class="control-button primary">
            <i class="material-icons-round">call_end</i>
        </div>
        <div class="control-button">
            <i class="material-icons-round">mic</i>
        </div>
    </div>

</div>
