<div class="page" style="overflow: scroll">
    <div #settingsModal class="modal" [ngClass]="{'active': showVideoSetting}">

        <div style="width: 100%; height: 100%" (click)="toggleVideoSetting()"></div>

        <div class="settings-items">

            <div class="settings-item">
                <i class="material-icons-round">screen_share</i>
                <span>
                    Share screen
                </span>
            </div>

            <div class="settings-item">
                <i class="material-icons-round">screen_share</i>
                <span>
                    Share screen
                </span>
            </div>

            <div class="settings-item">
                <i class="material-icons-round">screen_share</i>
                <span>
                    Share screen
                </span>
            </div>

            <div class="settings-item">
                <i class="material-icons-round">screen_share</i>
                <span>
                    Share screen
                </span>
            </div>

            <div class="settings-item">
                <i class="material-icons-round">screen_share</i>
                <span>
                    Share screen
                </span>
            </div>

            <div class="settings-item">
                <i class="material-icons-round">screen_share</i>
                <span>
                    Share screen
                </span>
            </div>

            <div class="settings-item">
                <i class="material-icons-round">screen_share</i>
                <span>
                    Share screen
                </span>
            </div>
        </div>

    </div>
    <div class="app-call-bar">
        <img *ngIf="chatPhoto" (click)="hangUpCall()" class="profile-img" [src]="chatPhoto"/>
        <div style="display: flex;flex-direction: column; margin-left: .8rem">
            <span class="chat-name" (click)="hangUpCall()">{{chatName}}</span>
            <span class="chat-status sub-text">8 members</span>
        </div>

        <div class="trailing-icons">
            <i class="material-icons-round">person_add</i>
            <i class="material-icons-round" (click)="toggleVideoSetting()">more_vert</i>
        </div>
    </div>


    <div *ngIf="inCallParticipants.length > 2" class="video-collection-container">


        <div class="big-tile">
<!--            <video *ngIf="inCallParticipants[1]?.isVideoReady" src="../../../../assets/test.mp4" loop autoplay></video>-->

            <div *ngIf="!inCallParticipants[1]?.isVideoReady" class="">loading</div>

            <video *ngIf="inCallParticipants[1]?.isVideoReady && inCallParticipants[1]?.videoOptions.hasCamera" src="../../../../assets/test.mp4" loop autoplay></video>

            <img *ngIf="inCallParticipants[1]?.isVideoReady && !inCallParticipants[1]?.videoOptions.hasCamera" class="profile-img" [src]="inCallParticipants[1]?.user.getPhoto()"/>

            <div class="video-info">
                {{inCallParticipants[1]?.user.getFullName()}}
                <i *ngIf="inCallParticipants[1]?.videoOptions.isMuted" class="material-icons-round">graphic_eq</i>
                <i *ngIf="!inCallParticipants[1]?.videoOptions.isMuted" class="material-icons-round red">mic_off</i>
            </div>
        </div>


        <div class="small-tile">
            <video *ngIf="inCallParticipants[0]?.isVideoReady && inCallParticipants[0]?.videoOptions.hasCamera" src="../../../../assets/test.mp4" loop autoplay></video>

            <img *ngIf="inCallParticipants[0]?.isVideoReady && !inCallParticipants[0]?.videoOptions.hasCamera" class="profile-img" [src]="inCallParticipants[0]?.user.getPhoto()"/>

            <div *ngIf="!inCallParticipants[0]?.isVideoReady" class="">loading</div>

            <div class="video-info">
                {{inCallParticipants[0]?.user.fname}}
                <i *ngIf="inCallParticipants[0]?.videoOptions.isMuted" class="material-icons-round">graphic_eq</i>
                <i *ngIf="!inCallParticipants[0]?.videoOptions.isMuted" class="material-icons-round red">mic_off</i>
            </div>
        </div>

        <div class="small-tile">
            <video *ngIf="inCallParticipants[2]?.isVideoReady && inCallParticipants[2]?.videoOptions.hasCamera" src="../../../../assets/test.mp4" loop autoplay></video>

            <img *ngIf="inCallParticipants[2]?.isVideoReady && !inCallParticipants[2]?.videoOptions.hasCamera" class="profile-img" [src]="inCallParticipants[2]?.user.getPhoto()"/>

            <div *ngIf="!inCallParticipants[2]?.isVideoReady" class="">loading</div>
            <div class="video-info">
                {{inCallParticipants[2]?.user.fname}}
                <i *ngIf="inCallParticipants[2]?.videoOptions.isMuted" class="material-icons-round">graphic_eq</i>
                <i *ngIf="!inCallParticipants[2]?.videoOptions.isMuted" class="material-icons-round red">mic_off</i>
            </div>
        </div>

        <div *ngIf="inCallParticipants[3]" class="small-tile">
            <video *ngIf="inCallParticipants[3]?.isVideoReady && inCallParticipants[3]?.videoOptions.hasCamera" src="../../../../assets/test.mp4" loop autoplay></video>

            <img *ngIf="inCallParticipants[3]?.isVideoReady && !inCallParticipants[3]?.videoOptions.hasCamera" class="profile-img" [src]="inCallParticipants[3]?.user.getPhoto()"/>

            <div *ngIf="!inCallParticipants[3]?.isVideoReady" class="">loading</div>
            <div class="video-info">
                {{inCallParticipants[3]?.user.fname}}
                <i *ngIf="inCallParticipants[3]?.videoOptions.isMuted" class="material-icons-round">graphic_eq</i>
                <i *ngIf="!inCallParticipants[3]?.videoOptions.isMuted" class="material-icons-round red">mic_off</i>
            </div>
        </div>


<!--        <div class="small-tile">-->
<!--            <div class="see-others">-->
<!--                <div class="images">-->
<!--                    <img class="profile-img" src="https://images.unsplash.com/photo-1604936725386-22a475291f50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">-->
<!--                    <img class="profile-img" src="https://images.unsplash.com/photo-1604936725386-22a475291f50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">-->
<!--                </div>-->

<!--                <span>6 others</span>-->
<!--            </div>-->
<!--        </div>-->



    </div>

    <div *ngIf="inCallParticipants.length <= 2" class="video-collection-container" [ngClass]="{'two-p-layout': inCallParticipants.length === 2, 'one-p-layout': inCallParticipants.length === 1}">
        <div *ngFor="let party of inCallParticipants" class="big-tile">
            <video *ngIf="party?.isVideoReady" src="../../../../assets/test.mp4" loop autoplay></video>

            <div *ngIf="!party?.isVideoReady" class="">loading</div>

            <div class="video-info">
                {{party?.user.getFullName()}}
                <i *ngIf="party?.videoOptions.isMuted" class="material-icons-round">graphic_eq</i>
                <i *ngIf="!party?.videoOptions.isMuted" class="material-icons-round red">mic_off</i>
            </div>
        </div>
<!--        <div *ngIf="inCallParticipants.length === 2" class="big-tile">-->
<!--            <video src="../../../../assets/test.mp4" loop autoplay></video>-->

<!--            <div class="video-info">-->
<!--                {{inCallParticipants[1]?.user.getFullName()}}-->

<!--                <i *ngIf="inCallParticipants[1]?.videoOptions.isMuted" class="material-icons-round" style="margin-left: .5rem;margin-right: .5rem">graphic_eq</i>-->
<!--                <i *ngIf="!inCallParticipants[1]?.videoOptions.isMuted" class="material-icons-round">mic_off</i>-->
<!--            </div>-->
<!--        </div>-->

    </div>

    <div class="video-control">

        <div class="control-button" (click)="toggleCamera()" >
            <i *ngIf="!options.hasCamera" class="material-icons-round">videocam_off</i>
            <i *ngIf="options.hasCamera" class="material-icons-round">videocam</i>
        </div>
        <div class="control-button primary" (click)="hangUpCall()">
            <i class="material-icons-round">call_end</i>
        </div>
        <div class="control-button" (click)="toggleMic()">
            <i *ngIf="options.isMuted" class="material-icons-round">mic</i>
            <i *ngIf="!options.isMuted" class="material-icons-round">mic_off</i>
        </div>
    </div>




</div>


