<div class="page">
    <app-bar
        title="Images"
        leadingIcon="arrow_back"
        [hasImage]="false">
    </app-bar>


    <main class="">
        <img *ngIf="imgMessage" [src]="url + imgMessage.value.filename">
    </main>
    <ul>
        <li>
            <i class="material-icons-round">today</i>
            <span>Sent on</span>
            <span id="date">{{this.timestamp | date: 'mediumDate'}}</span>
        </li>
        <li style="cursor: pointer" (click)="downloadFileToDevice()">
            <i class="material-icons-round">get_app</i>
            <span>Download</span>
            <span id="size">{{this.size | byteConvert}}</span>
        </li>
    </ul>
</div>

