<div class="page">
    <app-bar
        title="Images"
        leadingIcon="arrow_back"
        [hasImage]="false">
    </app-bar>


    <main class="">
        <img src="https://images.unsplash.com/photo-1601758174493-45d0a4d3e407?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80">
    </main>
    <ul>
        <li>
            <i class="material-icons-round">today</i>
            <span>Sent on</span>
            <span id="date">Oct 12th, 2020</span>
        </li>
        <li>
            <i class="material-icons-round">get_app</i>
            <span>Download</span>
            <span id="size">1.23 MB</span>
        </li>
    </ul>
</div>

