<div class="table-page">

    <div class="">
        <ami-fullstack-add-people *ngIf="showAddPeople"></ami-fullstack-add-people>
        <ami-fullstack-manage-tv-layout *ngIf="showManageLayout" [members]="inCallChatParties" (onExit)="closeTVLayout($event)" [inCallChat]="inCallChat"></ami-fullstack-manage-tv-layout>
        <ami-fullstack-view-images *ngIf="showViewImages" (onCallChat)="callSelected($event)"></ami-fullstack-view-images>
    </div>


    <div class="control-panel">

        <div class="top-bar">
            Controls
        </div>

        <div *ngIf="!userIsCurrentlyInChat" class="controls">

<!--            <div class="" (click)="callSelected()">Call</div>-->
        </div>

        <div *ngIf="userIsCurrentlyInChat" class="controls">

            <div class="side-nav-divider">
                Participants
            </div>

            <ul class="participants-list"
                id="usersList"
                [ngStyle]="{'padding-bottom': showOnlyParticipants? '4rem': '0'}"
                [cdkDropListData]="inCallChatParties"
                [cdkDropListConnectedTo]="allPosIds"

                cdkDropList
                (cdkDropListDropped)="drop($event)">
                <li *ngFor="let member of inCallChatParties" cdkDrag [cdkDragData]="member" class="side-nav-item"
                    style="justify-content: space-between;">
                    <div style="display: flex;align-items: center;">
                        <img class="profile-img" [src]="member.user.getPhoto()"/>
                        <div style="display: flex;flex-direction: column">
                            <span class="mid">{{member.user.getFullName()}}</span>
                            <span *ngIf="member.device" class="device">{{member.device}}</span>
                        </div>
                    </div>
                    <div style="display: flex;justify-content: center; align-items: center">
                        <span *ngIf="!member.isInCall">away</span>
                        <span *ngIf="member.isInCall && !member.videoOptions.isMuted" class="material-icons-round">mic_off</span>
                        <span *ngIf="member.isInCall && member.videoOptions.isMuted" class="material-icons-round">mic</span>
                    </div>
                </li>
            </ul>

<!--            <div *ngIf="!showOnlyParticipants" class="side-nav-divider">-->
<!--                Actions-->
<!--            </div>-->
<!--            <div *ngIf="!showOnlyParticipants" class="side-nav-item">-->
<!--                <i class="material-icons-round">cast</i>-->
<!--                <span class="mid">Broadcast to TV</span>-->
<!--            </div>-->
            <div *ngIf="!showOnlyParticipants" class="side-nav-divider">
                Manage
            </div>
            <div *ngIf="!showOnlyParticipants" class="side-nav-item">
                <i class="material-icons-round">group_add</i>
                <span class="mid">Add people</span>
            </div>
            <div *ngIf="!showOnlyParticipants" class="side-nav-item" (click)="toggleView(false,true,false)">
                <i class="material-icons-round">view_compact</i>
                <span class="mid">Change TV layout</span>
            </div>


            <div *ngIf="!showOnlyParticipants" class="call-controls">

                <span style="padding: 1rem">In call with {{inCallChat?.displayName}}</span>

                <div class="video-control">

                    <div class="control-button" (click)="toggleCamera()">
                        <i *ngIf="!options.hasCamera" class="material-icons-round">videocam_off</i>
                        <i *ngIf="options.hasCamera" class="material-icons-round">videocam</i>
                    </div>
                    <div class="control-button primary" (click)="hangUpCall()">
                        <i class="material-icons-round">call_end</i>
                    </div>
                    <div class="control-button" (click)="toggleMic()">
                        <i *ngIf="options.isMuted" class="material-icons-round">mic</i>
                        <i *ngIf="!options.isMuted" class="material-icons-round">mic_off</i>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>
