@import "../../../../declarations";

.table-page {

    background-color: $table-bg-color;
    display: flex;
    flex-direction: row;
    width: 100%;

    & > div {
        flex: 1 1 auto;
    }


    .control-panel {
        flex: 0 0 304px;
        height: 100vh;
        background-color: $primary-bg-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .top-bar {
            height: 8vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .controls {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;


            .participants-list {
                margin: 0;
                padding: 0 1rem;
                max-height: 30vh;
                overflow-y: auto;

                .side-nav-item {
                    padding: .2rem .5rem ;

                    span.device {
                        color: $light-black;
                        font-size: .7rem;
                        line-height: 1;
                    }
                }
            }

            .side-nav-divider {
                padding: .5rem 1.5rem;
            }

            .side-nav-item {
                padding: .5rem 1.5rem;
                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }

                span {
                    font-size: 1rem;
                    font-weight: normal;
                }
            }


            .call-controls{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }


}
