<main>

    <div>
        <div class="video-collection-container-big" style="margin-bottom: 1rem">

            <div class="big-tile">

            </div>
            <div class="big-tile"></div>
        </div>

        <div class="video-collection-container-small">

            <div class="small-tile">
            </div>
            <div class="small-tile">
            </div>
            <div class="small-tile">
            </div>
            <div class="small-tile">
            </div>
            <div class="small-tile">
            </div>
        </div>
    </div>

    <div class="action-button">
        Pick Random
    </div>

    <div style="display: flex;align-items: center; margin-top: 2rem">
        <i class="material-icons-round" style="font-size: 50px">close</i>
        <span class="page-title ">TV Layout</span>
        <span class="recomm" style="margin-left: auto; font-size: 1.5rem;font-weight: bold">recomm</span>
    </div>

</main>
