<div class="table-dashboard">
    <div class="side-nav">
        <h1>recomm</h1>

        <div class="side-nav-item" style="margin-top: 30px">
            <img class="profile-img" [src]="me?.getPhoto()"/>
            <span class="big">
                {{me?.getFullName()}}
            </span>
        </div>

        <div class="side-nav-item" style="margin-top: 30px"
             (click)="getAllImages()">
            <!--            <img class="profile-img" [src]="me?.getPhoto()"/>-->
            <div
                style="margin-right:1rem; width: 50px;height: 50px; background: #333; border-radius: 50%; display: flex;justify-content: center;align-items: center">
                <span class="material-icons">collections</span>
            </div>
            <span class="big">
                All images
            </span>
        </div>


        <div class="side-nav-divider" style="margin-top: 30px">Chats</div>

        <ul>
            <li *ngFor="let one of this.chats" class="side-nav-item"
                (click)="chooseChat(one._id)" [routerLink]="one._id">
                <img class="profile-img" [src]="one.photoUrl"/>
                <span class="mid">
                    {{one.displayName}}
                </span>
            </li>

        </ul>
    </div>


    <main>

        <div class="top-bar" *ngIf="this.chat">
            <div style="display: flex; align-items: center">
                <img *ngIf="this.chat.photoUrl" class="profile-img" [src]="this.chat.photoUrl"/>
                <div style="display: flex;flex-direction: column; margin-left: .8rem">
                    <span class="chat-name">{{this.chat.displayName}}</span>
                    <span class="chat-status sub-text">Online</span>
                </div>


                <div class="cta-call" (click)="joinAnotherCall(this.chat._id)" [ngClass]="{'disabled': inCallChatId === chat._id}">
                    {{inCallChatId === chat._id ? 'In Call' : 'Call Now'}}
                </div>
            </div>
            <div class="">
                Images
            </div>
        </div>


        <div class="scroll-area">

            <div class="images">

                <div *ngFor="let one of this.imgMessages" class="thumbnail"
                     (click)="previewImage(one)">
                    <img
                        [src]="url + one.value.filename"/>

                </div>


            </div>

            <div
                style="display: flex; justify-content: center; align-items: center;width: 100%;margin-bottom: 1rem">{{this.imgMessages?.length}} {{this.imgMessages?.length === 1 ? 'image' : 'images' }}</div>
        </div>


    </main>
</div>
