<main>

    <div class="app-call-bar">
        <img class="profile-img"
             src="https://images.unsplash.com/photo-1604936725386-22a475291f50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"/>

        <div style="display: flex;flex-direction: column; margin-left: .8rem">
            <span class="chat-name">Team Power</span>
            <span class="chat-members">8 members</span>
        </div>
    </div>


    <div class="video-collection-container-big" style="margin-bottom: 1rem">

        <div class="big-tile">
            <video src="../../../../assets/test.mp4" loop autoplay></video>

            <div class="video-info">
                Emma Bailey

                <i class="material-icons-round" style="margin-left: .5rem;margin-right: .5rem">graphic_eq</i>
            </div>
        </div>
        <div class="big-tile">
            <video src="../../../../assets/test.mp4" loop autoplay></video>

            <div class="video-info">
                Emma Bailey

                <i class="material-icons-round" style="margin-left: .5rem;margin-right: .5rem">graphic_eq</i>
            </div>
        </div>
    </div>

    <div class="video-collection-container-small">

        <div class="small-tile">
            <video src="../../../../assets/test.mp4" loop autoplay></video>
        </div>
        <div class="small-tile">
            <video src="../../../../assets/test.mp4" loop autoplay></video>
        </div>
        <div class="small-tile">
            <video src="../../../../assets/test.mp4" loop autoplay></video>
        </div>
        <div class="small-tile">
            <video src="../../../../assets/test.mp4" loop autoplay></video>
        </div>
        <div class="small-tile">
            <video src="../../../../assets/test.mp4" loop autoplay></video>
        </div>
    </div>


    <div class="button-container">
        <i class="material-icons-round">videocam</i>
        <i class="material-icons-round">mic</i>
    </div>

</main>
