<main *ngIf="!showErrorMessage">

    <div class="app-call-bar">
        <img class="profile-img"
             src="https://images.unsplash.com/photo-1604936725386-22a475291f50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"/>

        <div style="display: flex;flex-direction: column; margin-left: .8rem">
            <span class="chat-name">Team Power</span>
            <span class="chat-members">8 members</span>
        </div>
    </div>


    <div class="video-collection-container-big" style="margin-bottom: 1rem">
        <div class="big-tile" *ngFor="let member of userMapLayoutBig">
            <div *ngIf="!member.user">No one here</div>
            <video *ngIf="member.user" src="../../../../assets/test.mp4" loop autoplay></video>
            <div *ngIf="member.user" class="video-info">
                {{member.user.getFullName()}}
                <i class="material-icons-round" style="margin-left: .5rem;margin-right: .5rem">graphic_eq</i>
            </div>
        </div>
    </div>

    <div class="video-collection-container-small">
        <div class="small-tile" *ngFor="let member of userMapLayoutSmall">
            <div *ngIf="!member.user">No one here</div>
            <video *ngIf="member.user" src="../../../../assets/test.mp4" loop autoplay></video>
            <div *ngIf="member.user" class="video-info">
                {{member.user.getFullName()}}
                <i class="material-icons-round" style="margin-left: .5rem;margin-right: .5rem">graphic_eq</i>
            </div>
        </div>
    </div>


    <div class="button-container">
        <i class="material-icons-round">videocam</i>
        <i class="material-icons-round">mic</i>
    </div>

</main>

<main *ngIf="showErrorMessage">
    <h2>{{errorMessage}}</h2>
</main>
