

<!--<h1>Hello Pantelis</h1>-->

<div style="display: flex; flex-direction: column;height: 100vh;width: 100%">

    <div style="text-align:center; width: 100%; padding: 1rem; border: 1px solid #333">
        recomm
    </div>

    <div style="flex: 1 1 auto; display: flex; align-items: center; justify-content: center;">
        <div style="font-size: 6vh; color: #FF7C53">
            TV
        </div>
    </div>
    <div style="flex: 1 1 auto; background: #FF7C53; display: flex; align-items: center; justify-content: center;" routerLink="/mobile">
        <div style="font-size: 6vh">
            Phone
        </div>
    </div>
    <div style="flex: 1 1 auto; display: flex; align-items: center; justify-content: center;"  routerLink="/table">
        <div style="font-size: 6vh; color: #FF7C53">
            Table
        </div>
    </div>
</div>
