<div class="page">
    <app-bar
        title="Documents"
        leadingIcon="arrow_back"
        [hasImage]="false">
    </app-bar>


    <main class="">
        <ul class="documents">

            <li *ngFor="let documentsUrl of fileMessages" (click)="downloadDocument(documentsUrl.value)">

                <div>
                    <div>
                        {{documentsUrl.value.originalname}}
                    </div>
                    <span>{{documentsUrl.value.size | byteConvert}}</span>
                </div>

                <div style="height: 100%"  class="">
                    <i class="material-icons-round">cloud_download</i>
                </div>
            </li>

        </ul>

        <div class="in-page-status-info">{{fileMessages.length}} Documents</div>
    </main>
</div>
