<div class="page">

    <app-bar
        leadingIcon="arrow_back"
        [hasImage]="false"
        title="Join Video"
    >
    </app-bar>


    <main>

        <div class="video-container">
            <img *ngIf="options.hasCamera" class="video" [src]="me?.getPhoto()"/>
            <img *ngIf="!options.hasCamera" class="profile-img" [src]="me?.getPhoto()"/>
        </div>


    </main>

    <div class="page-actions">
        <div class="action-section">
            <div class="toggle-button" (click)="toggleMic()">
                <i *ngIf="options.isMuted" class="material-icons-round">mic</i>
                <span *ngIf="options.isMuted">Mic On</span>

                <i *ngIf="!options.isMuted" class="material-icons-round">mic_off</i>
                <span *ngIf="!options.isMuted">Mic Off</span>
            </div>

            <div class="toggle-button" (click)="toggleCamera()">
                <i *ngIf="options.hasCamera" class="material-icons-round">videocam</i>
                <span *ngIf="options.hasCamera">Camera On</span>

                <i *ngIf="!options.hasCamera" class="material-icons-round">videocam_off</i>
                <span *ngIf="!options.hasCamera">Camera Off</span>
            </div>
        </div>
        <div class="action-section">
            <button (click)="onReady()">
                Ready
            </button>
        </div>
    </div>


</div>
