<div class="page">

    <app-bar
        leadingIcon="arrow_back"
        [hasImage]="false"
        title="Join Video"
    >
    </app-bar>


    <main>

        <div class="video-container">
            <img *ngIf="isCameraEnabled" class="video" [src]="me?.getPhoto()"/>
            <img *ngIf="!isCameraEnabled" class="profile-img" [src]="me?.getPhoto()"/>
        </div>


    </main>

    <div class="page-actions">
        <div class="action-section">
            <div class="toggle-button" (click)="isMicEnabled = !isMicEnabled">
                <i *ngIf="isMicEnabled" class="material-icons-round">mic</i>
                <span *ngIf="isMicEnabled">Mic On</span>

                <i *ngIf="!isMicEnabled" class="material-icons-round">mic_off</i>
                <span *ngIf="!isMicEnabled">Mic Off</span>
            </div>

            <div class="toggle-button" (click)="isCameraEnabled = !isCameraEnabled">
                <i *ngIf="isCameraEnabled" class="material-icons-round">videocam</i>
                <span *ngIf="isCameraEnabled">Camera On</span>

                <i *ngIf="!isCameraEnabled" class="material-icons-round">videocam_off</i>
                <span *ngIf="!isCameraEnabled">Camera Off</span>
            </div>
        </div>
        <div class="action-section">
            <button (click)="onReady()">
                Ready
            </button>
        </div>
    </div>


</div>
