<div class="bottom-nav-menu">

    <div class="nav-item" routerLinkActive="active" routerLink="/mobile/chats">
        <i class="material-icons-round">chat</i>
        Chat
    </div>

    <div class="nav-item" routerLinkActive="active" routerLink="/mobile/search">
        <i class="material-icons-round">search</i>
        Search
    </div>

    <div class="nav-item" routerLinkActive="active" routerLink="/mobile/calendar">
        <i class="material-icons-round">today</i>
        Calendar
    </div>

</div>
