$font-stack:    'Circular Std', sans-serif;

/* DARK BG COLOR */
$primary-bg-color: #252525;

/* DARK SHADES */
$dark-black: #252525;
$mid-black: #333;
$light-black: #8A8A8B;



/* LIGHT */
$primary-color: #fff;

$red-color: #FF4A4A;
$orange-color: #FF7C53;
