@import '../../../../declarations.scss';

main {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;


    &:first-child {
        margin-top: auto !important;
    }


    .msg-group-day {
        margin: 0 1rem;


        .day {
            font-size: 1.25rem;
        }

        .message-layout {
            margin-top: 1rem;
            display: flex;

            img.profile-img {
                flex: 0 0 auto;
                margin-right: 1rem;
            }

            .message-info .sender-name {
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.3;
                margin-right: 1rem;
            }

            .message-info .sender-time {
                font-size: 0.825rem;
                font-weight: normal;
                line-height: 1.35;
                color: $light-black;
            }


            .inline-message {
                font-size: 1rem;


                a {
                    word-break: break-all;
                    color: #0094FF;
                }
            }

            .inline-msg-image {
                max-height: 200px;
                border-radius: .8rem;
                max-width: 100%;
                min-height: 200px;
                min-width: 100px;
                margin: .25rem 0;
            }
        }

        .messages {


            .message {

            }
        }
    }
}


.new-message-section {
    display: flex;
    align-items: flex-end;
    padding: .5rem 1rem;
    //padding-bottom: 1rem;


    i {
        color: $orange-color;

        &:last-child {
            padding-right: 0;
        }

        &:first-child {
            padding-left: 0;
        }

        padding: .6rem .3rem;
    }


    .message-bar {
        flex: 1 1 auto;
        display: flex;
        background-color: $mid-black;
        border-radius: 20px;
        align-items: flex-end;
        padding: .6rem;
        overflow: hidden;

        textarea {
            height: 22px;
            flex: 1 1 auto;
            font-size: 14px;
            background-color: inherit;
            text-align: left;
            font-family: 'Circular Std', sans-serif;
            color: #fff;
            border: 0;
            resize: none;
            line-height: 1.3;
            outline: none;
            max-height: 80px;

            &::placeholder {
                color: $light-black;
                font-size: 14px;
                line-height: 1.3;
            }
        }
    }
}


@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.audio-caption-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 170px;

    .elipse {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: rgba(255, 124, 83, 0.19);
    }

    #elipse1 {
        width: 110px;
        height: 110px;
        padding: .8rem;
        animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    #elipse2 {
        width: 100%;
        height: 100%;
    }

    .audio-caption {
        position: relative;

        i {
            position: absolute;
            top:50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;
            color: $orange-color;
            font-size: 50px;
        }
    }

    .audio-time-counter {
        color: $light-black;
    }
}
