<div class="page">
    <app-chat-bar
        [chatName]="chatName"
        [icons]="icons"
    >

    </app-chat-bar>

    <main #scroll>


        <span class="in-page-status-info "> Conversation Started</span>


<!--        <div class="msg-group-day">-->

<!--            <h4 class="day">Sept 29th</h4>-->

<!--            <ul class="messages">-->
<!--                <li *ngFor="let msg of dayOneMessages" class="message-layout">-->
<!--                    <img class="profile-img" [src]="users[msg.user_id].photoURL"/>-->
<!--                    <div>-->
<!--                        <div class="message-info">-->
<!--                            <span class="sender-name">{{-->
<!--                                users[msg.user_id].name-->
<!--                                }}-->
<!--                                </span>-->
<!--                            <span class="sender-time">{{msg.timestamp}}</span>-->
<!--                        </div>-->

<!--                        <ul class="inline-messages">-->
<!--                            <li *ngFor="let ilnMsg of msg.msgs" class="inline-message">-->
<!--                                {{ilnMsg}}-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </li>-->

<!--            </ul>-->

<!--        </div>-->


        <div class="msg-group-day" *ngFor="let day of messages" >

            <h4 class="day">{{day._id | date: 'mediumDate'}}</h4>

            <ul class="messages">
                <li *ngFor="let msg of day.messages; trackBy: trackByMethod" class="message-layout">
                    <img class="profile-img" [src]="participantsObj[msg.senderId].getPhoto()"/>
                    <div style="width: 100%">
                        <div class="message-info">
                            <span class="sender-name">{{participantsObj[msg.senderId].getFullName()}}
                                </span>
                            <span class="sender-time">{{msg.timestamp | date: 'H:mm'}}</span>
                        </div>

                        <ul class="inline-messages">
<!--                            <li class="inline-message" [routerLink]="'reply/'+msg._id">-->
                            <li class="inline-message" (click)="showActionsMenu(msg)">
                                <div class="inline-msg-file" *ngIf="msg.type === 'FILE'" >
                                    <span class="material-icons-round icon">attach_file</span>
                                    <div>
                                        <span>{{msg.value.originalname}}</span>
                                        <span class="file-size">{{formatBytes(msg.value.size)}}</span>
                                    </div>
                                </div>
                                <img class="inline-msg-image" *ngIf="msg.type === 'IMAGE_STATIC'" [src]="url + msg.value.filename"/>
                                <progressive-image *ngIf="msg.type === 'IMAGE_GIF'" [src]="msg.value" [width]="'auto'"></progressive-image>
                                <span *ngIf="msg.type === 'TEXT'" [innerHTML]="msg.value | linkify"></span>
                            </li>
<!--                            <li *ngFor="let ilnMsg of msg.msgs" class="inline-message">-->

<!--                                <img class="inline-msg-image" *ngIf="ilnMsg.type === 'image'" [src]="ilnMsg.assetPath"/>-->
<!--                                <span *ngIf="ilnMsg.type === 'text'" [innerHTML]="ilnMsg.text | linkify"></span>-->

<!--                            </li>-->
                        </ul>
                        <a class="reply-link" *ngIf="msg.replies && msg.replies.length>0" [routerLink]="'reply/'+msg._id">{{msg.replies.length}} replies</a>
                    </div>

                </li>

            </ul>

        </div>

    </main>

    <div class="menu-container" [ngClass]="{'visible':showMenu}">
        <div class="menu-item" (click)="redirectToReply()" *ngIf="selectedMsgForAction?.type !== 'STATUS'">Reply</div>
        <div class="menu-item" (click)="downloadFileToDevice()" *ngIf="selectedMsgForAction?.type !== 'TEXT' && selectedMsgForAction?.type !== 'IMAGE_GIF' && selectedMsgForAction?.type !== 'STATUS'">Download</div>
<!--        <div class="menu-item" (click)="copyToClipboard()" *ngIf="selectedMsgForAction?.type === 'TEXT'">Copy</div>-->
        <div class="menu-item menu-item-close" (click)="closeMenu()">Close</div>
    </div>

    <chat-text-area
        [meModel]="me"
        [chatModel]="chat"
    ></chat-text-area>

<!--    <div class="new-message-section">-->




<!--        <label>-->
<!--            <input type="file" (change)="onFileSelect($event)">-->
<!--            <span>-->
<!--            <i class="material-icons-round">insert_photo</i>-->

<!--            </span>-->
<!--        </label>-->
<!--&lt;!&ndash;        <i class="material-icons-round">insert_photo</i>&ndash;&gt;-->

<!--        <i (click)="isAudioRecordOpen = !isAudioRecordOpen" class="material-icons-round">mic</i>-->

<!--        <div class="message-bar">-->
<!--            <textarea #message-->
<!--                      [(ngModel)]="textareaValue"-->
<!--                      (ngModelChange)="resize()"-->
<!--                      placeholder="Message"-->
<!--            ></textarea>-->
<!--            <i style="padding: 0" class="material-icons-round">sentiment_satisfied_alt</i>-->
<!--        </div>-->
<!--        <i class="material-icons-round" (click)="sendMessage()">send</i>-->


<!--    </div>-->
<!--    <div *ngIf="isAudioRecordOpen" class="audio-caption-container">-->

<!--        <div class="audio-caption">-->

<!--            <div class="elipse" id="elipse1">-->
<!--                <div class="elipse" id="elipse2"></div>-->
<!--            </div>-->
<!--            <i class="material-icons-round">-->
<!--                keyboard_voice-->
<!--            </i>-->
<!--        </div>-->

<!--        <div class="audio-time-counter">-->
<!--            00:26-->
<!--        </div>-->

<!--    </div>-->

</div>
