@import '../../../../declarations.scss';


main {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;


    &:first-child {
        margin-top: auto !important;
    }


    .msg-group-day {
        margin: 0 .8rem;


        .day {
            font-size: 1.25rem;
            margin: 1rem 0 0 0 ;
        }

        .message-layout {
            margin-top: .5rem;
            display: flex;
            padding: 0.3rem 0.2rem;

            &:hover{
                background-color: $mid-black;
                border-radius: 5px;
            }

            img.profile-img {
                flex: 0 0 auto;
                margin-right: 1rem;
            }

            .message-info .sender-name {
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.3;
                margin-right: 1rem;
            }

            .message-info .sender-time {
                font-size: 0.825rem;
                font-weight: normal;
                line-height: 1.35;
                color: $light-black;
            }

            a.reply-link {
                color: #fff;
                text-decoration: underline;
                font-size: 14px;
            }


            .inline-message {
                font-size: 1rem;
                word-break: break-all;

                a {
                    word-break: break-all;
                    color: #0094FF;
                }
            }

            .inline-msg-image {
                max-height: 200px;
                border-radius: .8rem;
                max-width: 100%;
                min-height: 200px;
                min-width: 100px;
                margin: .25rem 0;
            }
        }

        .messages {


            .message {

            }
        }
    }
}
