<div class="page">
    <app-bar
        title="Images"
        leadingIcon="arrow_back"
        [hasImage]="false">
    </app-bar>


    <main class="">
        <div class="images">

            <div class="thumbnail" *ngFor="let imagesUrl of imgMessages">
                <img
                    [src]="url + imagesUrl.value.filename"
                    (click)="goToImagePreview(imagesUrl.value.filename)"/>
            </div>

        </div>

        <div class="in-page-status-info">{{this.imgNum}}</div>
    </main>
</div>
