<div class="page">
    <app-bar
        title="Images"
        leadingIcon="arrow_back"
        [hasImage]="false">
    </app-bar>


    <main class="">
        <div class="images">

            <div class="thumbnail">
                <img
                    src="https://images.unsplash.com/photo-1601758174493-45d0a4d3e407?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80">

            </div>
            <div class="thumbnail">
                <img
                    src="https://images.unsplash.com/photo-1601758174493-45d0a4d3e407?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80">

            </div>
            <div class="thumbnail">
                <img
                    src="https://images.unsplash.com/photo-1601758174493-45d0a4d3e407?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80">

            </div>
            <div class="thumbnail">
                <img
                    src="https://images.unsplash.com/photo-1601758174493-45d0a4d3e407?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80">

            </div>
            <div class="thumbnail">
                <img
                    src="https://images.unsplash.com/photo-1601758174493-45d0a4d3e407?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80">

            </div>
            <div class="thumbnail">
                <img
                    src="https://images.unsplash.com/photo-1601758174493-45d0a4d3e407?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80">

            </div>
            <div class="thumbnail">
                <img
                    src="https://images.unsplash.com/photo-1601758174493-45d0a4d3e407?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80">
            </div>

        </div>

        <div class="in-page-status-info">12 images</div>
    </main>
</div>
