
<div class="page">

    <app-bar
        title="Orestis Faltakas"
        leadingIcon="arrow_back"
        [hasImage]="false"
        ></app-bar>


    <main class="">

        <img class="profile-img" [src]="me?.getPhoto()">

        <ul class="profile-options">
            <li>
                <i class="material-icons-round">camera_alt</i>
                <span>Change photo</span>
            </li>
            <li>
                <i class="material-icons-round">create</i>
                <span>Edit profile</span>
            </li>
            <li>
                <i class="material-icons-round">help</i>
                <span>Help center</span>
            </li>
            <li>
                <i class="material-icons-round">settings</i>
                <span>Account settings</span>
            </li>
            <li>
                <i class="material-icons-round">exit_to_app</i>
                <span>Log out</span>
            </li>


        </ul>


    </main>



</div>




