


<main class="">

    <div id="bar">
        <i class="material-icons-round">arrow_back</i>
        <span>Orestis Faltakas</span>
    </div>


    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">

    <ul class="profile-options">
        <li>
            <i class="material-icons-round">camera_alt</i>
            <span>Change photo</span>
        </li>
        <li>
            <i class="material-icons-round">create</i>
            <span>Edit profile</span>
        </li>
        <li>
            <i class="material-icons-round">help</i>
            <span>Help center</span>
        </li>
        <li>
            <i class="material-icons-round">settings</i>
            <span>Account settings</span>
        </li>
        <li>
            <i class="material-icons-round">exit_to_app</i>
            <span>Log out</span>
        </li>


    </ul>


</main>

