<main>
    <div class="uprow">
        <div>
            <ul>
                <li>
                    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                </li>
                <li>
                    <span class="name">Samantha Williams</span>
                </li>
                <li>
                    <span class="activation">Activate Now</span>
                </li>
                <li>
                    <button>Add</button>
                </li>

            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                </li>
                <li>
                    <span class="name">Samantha Williams</span>
                </li>
                <li>
                    <span class="activation">Activate Now</span>
                </li>
                <li>
                    <button>Add</button>
                </li>

            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                </li>
                <li>
                    <span class="name">Samantha Williams</span>
                </li>
                <li>
                    <span class="activation">Activate Now</span>
                </li>
                <li>
                    <button>Add</button>
                </li>

            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                </li>
                <li>
                    <span class="name">Samantha Williams</span>
                </li>
                <li>
                    <span class="activation">Activate Now</span>
                </li>
                <li>
                    <button>Add</button>
                </li>

            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                </li>
                <li>
                    <span class="name">Samantha Williams</span>
                </li>
                <li>
                    <span class="activation">Activate Now</span>
                </li>
                <li>
                    <button>Add</button>
                </li>

            </ul>
        </div>
    </div>
    <div class="downrow">
        <div>
            <ul>
                <li>
                    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                </li>
                <li>
                    <span class="name">Samantha Williams</span>
                </li>
                <li>
                    <span class="activation">Activate Now</span>
                </li>
                <li>
                    <button>Add</button>
                </li>

            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                </li>
                <li>
                    <span class="name">Samantha Williams</span>
                </li>
                <li>
                    <span class="activation">Activate Now</span>
                </li>
                <li>
                    <button>Add</button>
                </li>

            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                </li>
                <li>
                    <span class="name">Samantha Williams</span>
                </li>
                <li>
                    <span class="activation">Activate Now</span>
                </li>
                <li>
                    <button>Add</button>
                </li>

            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                </li>
                <li>
                    <span class="name">Samantha Williams</span>
                </li>
                <li>
                    <span class="activation">Activate Now</span>
                </li>
                <li>
                    <button>Add</button>
                </li>

            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img class="profile-img" src="https://images.unsplash.com/photo-1496345875659-11f7dd282d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                </li>
                <li>
                    <span class="name">Samantha Williams</span>
                </li>
                <li>
                    <span class="activation">Activate Now</span>
                </li>
                <li>
                    <button>Add</button>
                </li>

            </ul>
        </div>
    </div>

    <div>
        <i class="material-icons-round">close</i>
        <span class="addPeople">Add people to call</span>
        <span class="recomm">recomm</span>
    </div>

</main>
